<div class="container">
    <div class="grid">
        <div class="col-12">
            <h1>Pessoas</h1>
        </div>
        <div class="col-12">
            <label>Nome</label>
            <input type="text" pInputText class="w-full p-inputtext-sm" placeholder="">  
        </div>
        <div class="col-12">
            <button pButton icon="pi pi-search" class="p-button-sm" type="submit" label="Pesquisar"></button>
        </div>

        <div class="col-12">
            <p-table 
            [value]="pessoas" 
            [paginator]="true" 
            [rows]="4" 
            styleClass="p-datatable-sm" 
            [tableStyle]="{'min-width': '50rem'}"
            responsiveLayout="stack" 
            [breakpoint]="'560px'">

                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th class="col-data-header">Estado</th>
                        <th class="col-data-header">Status</th>
                        <th class="col-acoes-header"></th>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="body" let-pessoa>
                    <tr>
                        <td>{{ pessoa.nome }}</td>
                        <td>{{ pessoa.cidade }}</td>
                        <td>{{ pessoa.estado }}</td>
                        <td>
                            <a [pTooltip]="isAtivo(pessoa.ativo, true)" tooltipPosition="top" href="#">
                                {{ isAtivo(pessoa.ativo) }}
                            </a>
                        </td>                
                                                <!-- para os icones ficarem juntos  -->
                        <td class="col-acoes" style="justify-content: start;">
                            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <a pButton class="p-button-sm" label="Nova pessoa"></a>
    </div>
</div>